/* CartPage.module.scss */

.wrapper {
    max-width: 672px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border-radius: 12px;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
}

.products {
    margin-top: 10px;
    margin-bottom: 10px;
}

.cartTitle {
    text-align: center;
    margin-bottom: 20px;
}

.cartList {
    list-style: none;
    padding: 0;
}

.cartItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.totalPrice {
    text-align: right;
    font-weight: bold;
    margin-top: 20px;
}

.price-amount {
    font-size: 16px;
    font-weight: 400;
}

.cart-subtotal {
    display: flex;
    width: 100%;

    tr {
        vertical-align: inherit;
        border-color: inherit;
    }
}

.checkout {
    width: 100%;
    height: 50px;
    background: #9f1d27;
    border-radius: 12px;
    font-weight: 400;
    transition: 0.2s ease-in-out;
    &:hover {
        background-color: #934141;
    }
}

.temporary-subtotal {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.price {
    float: right;
}
