.row {
    padding-top: 30px;
    margin: 0 92px;
}

.container {
    display: flex;
    margin-bottom: 40px;
}

.image-product {
    max-width: 50%;
    flex-basis: 50%;
    padding: 0 20px;
    img {
        display: inline-block;
        height: auto;
        max-width: 100%;
        vertical-align: middle;
    }
}

.product-page {
    flex-basis: 50%;
    max-width: 50%;
    margin: 0;
    padding: 0 15px 30px;
    position: relative;
    width: 100%;
    text-align: left;
}

.product-brand {
    h1 {
        margin: 0 0 8px;
        max-width: 120px;
    }
}

.product-title {
    font-size: 0.8em;
    h1 {
        color: #676767;
        line-height: 1.3;
        font-size: 1.7em;
        font-weight: bolder;
        margin-bottom: 0.5em;
        margin-top: 0;
        text-rendering: optimizeSpeed;
        width: 100%;
    }
}

.price-wrapper {
    margin-bottom: 10px;

    span {
        font-weight: 600;
        color: #c40d2e;
        font-size: 27px;
    }
}

.product-description {
    font-size: 14px;
    color: #676767;

    p {
        margin-bottom: 1.3em;
    }
}

.btn-addProduct-inside-carts {
    .single_add_to_cart_button {
        margin-bottom: 1.3em;
        height: 44px;
        width: 100%;
        text-transform: uppercase;
        font-weight: 500;
        border-radius: 5px;
        background-color: #993333;
        transition: 0.24s ease-in-out;
        &:hover {
            background-color: #d26e4b;
        }
    }
}
.row-collapse {
    max-width: 100% !important;
    background-color: #ededed;
    padding: 10px 0px 10px 20px;
    background-color: rgb(237, 237, 237);
    border-radius: 10px;
    color: #676767;
    hr {
        margin-right: 20px;
    }
    .featured-box {
        display: flex;
        align-items: flex-start;
        .icon {
            height: 22px;
            width: 22px !important;
            img {
                width: 22px;
                position: relative;
                display: flex;
                display: inline-block;
                height: auto;
                max-width: 100%;
                vertical-align: middle;
            }
        }
    }

    .icon-box-text {
        padding-left: 16px;
        min-height: 48px;
        display: flex;
        align-items: center;
    }
    .p-featured-box {
        padding-left: 40px;
        margin-bottom: 0;
    }
}

.row {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
}

.tab-button {
    margin: 0 0 40px 0;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.align-middle {
    align-items: center !important;
    vertical-align: middle !important;
}

.info-product {
    padding: 0px 40px 0px 0px;
    border: 1px solid #ececec;
    border-radius: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;

    .icon {
        height: 30px;
        width: 30px;
    }
}

.text-comment {
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 32px;
    h2 {
        font-weight: 600;
        font-size: 1.6em;
        line-height: 1.3;
        color: #9f1d25;
    }
}

.review-form-wrapper {
    margin-bottom: 20px;

    .review-form {
        min-height: 1050;
    }

    .comment-form-comment {
        margin-bottom: 16px;
        background: #f0efef;
        padding: 4px 24px 10px;
        border-radius: 12px;
        flex-basis: 100%;
        max-width: calc(100% - 30px);
        margin-left: auto;
        margin-right: auto;
    }

    .comment {
        height: 38px;
        padding-top: 0.7em;
        width: 100%;
        margin: 0;
        min-height: 38px;
        background: 0 0;
        border: none;
        outline: none;
        box-shadow: none;
        border-bottom: thin solid #ccc;
        text-align: center;
        max-width: 100%;
        color: var(--black);
    }

    .comment-form {
        form {
            width: 972px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            max-width: 100%;
            margin: 0;
        }
    }

    .action-comment-wrapper {
        display: grid;
        flex-direction: column;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 1.2rem;
    }

    .comment-form-name,
    .comment-form-email,
    .comment-form-phone,
    .comment-form-author {
        margin-left: 16px;
        width: 502px;
        align-items: center;
        input {
            width: 100%;
            min-height: 46px;
            text-align: center;
            font-weight: 400;
            background: #f0efef;
            border-radius: 8px;
            color: #555;
            border-color: #f0efef;
            background-color: #f0efef;
            border: 1px solid;
            text-transform: none;
            margin: 0;
            box-shadow: none;
        }
    }

    .comment-form-email,
    .comment-form-author {
        margin-left: 0;
    }

    .comment-form-author {
        .btn--normal {
            button {
                width: 100%;
                border: thin solid #9f1e25;
                background: #9f1e25;
                border-radius: 8px;
                color: #fff;
                text-transform: none;
                font-weight: 600;
                margin: 0;
                width: 100%;
                transition: all 0.2s ease-in-out;
                min-height: 46px;
                font-size: 14px;
            }

            :hover {
                background: rgb(116, 33, 33);
                color: #fff;
            }
        }
    }
}

.comment-count {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #933;
    position: relative;

    ::before {
        content: '';
        width: 100%;
        height: 0;
        border-top: thin solid #ccc;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    span {
        background: #fff;
        padding-left: 8px;
        padding-right: 8px;
        font-weight: 700;
    }
}

.comment-list {
    padding-left: 15px;
    padding-right: 15px;
}

.relate-product {
    border-top: 1px solid #ececec;
}

.product-section-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.2;
    padding: 15px 0;
    margin-bottom: 10px;
    color: #676767;
    font-size: 1.25em;
}
