* {
    box-sizing: border-box;
}

.main {
    padding: 0 240px;
}

.filter {
    height: 600px;
    gap: 20px;
}

.filter__item {
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

.filter__item-right {
}

.fillter__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}

.banner {
    border-radius: 8px;
    height: 300px;
    padding: 0;
    position: relative;
}

.banner-top + .banner-top {
    padding-left: 20px;
}

.banner-bottom {
    padding-top: 20px;
}

.filter__item > .filter__item-info {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 24px;
}

.banner > .filter__item-info {
    position: absolute;
    left: 40px;
    bottom: 24px;
}

.filter__item-title {
    color: #fff;
    font-size: 1.6rem;
}

.filter__item-more {
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
    color: #444;
    transition: 0.3s;
}

.filter__item-more:hover {
    color: #d2d2d2;
}

// Collection
.collection {
    margin-top: 40px;
    justify-content: space-around;
    gap: 20px;
}

.collection__item {
    margin: 0;
    padding: 0;
}

.collection__item-image {
    display: block;
    width: 100%;
    height: 120px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}

.collection__item-title {
    margin-top: 12px;
    text-align: center;
    color: #676767;
    font-size: 0.95rem;
}
