.wrapper {
    margin-bottom: 40px;
}

.slider-wrapper {
    width: auto;
    height: auto;
    margin-bottom: 0;
    padding: 0 9.8px 19.6px;
    cursor: pointer;
    img {
        display: inline-block;
        height: auto;
        max-width: 100%;
        vertical-align: middle;
    }
}
