.slider-container {
    max-width: 100%;
    align-items: center;
}

.center {
    padding: 0;
}

.item {
    padding-right: 0;
    width: 140px;
    display: flex;
    align-items: center;

    .MultipleItems_item {
        width: 140px;
    }
}

.itemImage {
    border-radius: 20%;
    height: 144px;
    width: 144px;
}

.itemTitle {
    width: 144px;
    margin-bottom: 0.1em;
    margin-top: 10px;
    font-size: 0.7em;
    color: #676767;
}
