.flickity-viewport {
    max-width: 100%;
    height: 250px;
    touch-action: pan-y;
    justify-content: center;
}

.flickity-slider {
    left: 0px;
    transform: translateX(0%);
}

.box-image {
    border-radius: 20%;
    .image-cover {
        padding-top: 100%;
    }
}

.col-inner {
    font-weight: 700;
    padding: 0 15px 15px 15px;
    color: var(--color-text-body-page);
    font-style: italic;
}

.text-center1 {
    margin: 0 100px;
    text-align: center;
    .is-divider {
        background-color: var(--color-text-body-page);
        margin-top: 15px;
        margin-bottom: 15px;
        max-width: 100%;
        height: 0.5px;
    }
}

.is-divider {
    text-align: center;
    hr {
        max-width: 78%;
        margin-left: auto;
        margin-right: auto;
    }
}

.banner-grip {
    display: flex;
    height: 100%;
    padding-bottom: 20px;
    .banner1 {
        img {
            border-radius: 15px;
        }
    }

    .banner2 {
        img {
            display: block;
            height: 300px;
            max-width: 100%;
        }
    }
}

.text {
    padding-top: 20px;
    text-align: center;
}

.uppercase {
    line-height: 1.2;
    text-transform: uppercase;
    color: #676767;
    font-weight: 600;
    font-size: 1.6em;
    margin-bottom: 1.5em;
    margin-top: 0;
    text-rendering: optimizeSpeed;
    width: 100%;
}

.hide-for-medium {
    max-width: 1080px;
}

.flickity-viewport {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}
